@use 'theme/colors' as colors;
@use 'theme/typography' as typography;
// fix this
@use 'animations/hover' as anim;
@use 'animations/stagger' as animation;
@use 'screen';

.container {
  border-radius: 12px;
  margin: 15px 0;
  box-shadow: colors.$shadow-dark;
  padding: 20px;
  background: colors.$primary;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50;
    width: 50%;
    height: 100%;
    transform: rotate(30deg);
    background-image: var(--background-image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 1;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    @include screen.xs {
      width: 60%;
      right: 0;
    }
  }

  &:hover {

    &::after {
      transform: unset;
      width: 60%;

    }

  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include screen.xs {
    display: block;
  }

  @include screen.md {
    display: block;
  }
}

.title {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  width: 100%;
  padding: 25px 0;
}

.update {
  display: flex;
  align-items: center;
  gap: 15px;

  @include screen.xs {
    span {
      display: none;
    }
  }
}

.links {
  display: flex;
  gap: 15px;
}

.packages {
  gap: 20px;
}

.package {
  @include animation.stagger;
}
