@keyframes press {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

.container {
  border-radius: 12px;
  margin: 15px 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: rgb(28, 28, 30, 0.6);
  place-items: center;
}

.title {
  place-items: center;
}

.description {
  margin: 15px 0;
}

.footer {

}

.version {
  display: flex;
  justify-content: flex-end;
}

.logo {
  &:active {
    transform: press 1s ease-out;
  }
}
