@use 'theme/colors' as colors;

.select {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  position: relative;

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 14px;
    background-color: colors.$primary;
    color: #f0f0f0;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease;

    &:focus {
      border-color: #0a84ff;
      box-shadow: 0 0 5px rgba(10, 132, 255, 0.5);
      outline: none;
    }
  }

  &::after {
    content: "⌵";
    font-size: 20px;
    position: absolute;
    top: 40%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #aaa;
  }
}

