@use 'animations/press';
@use 'theme/colors' as colors;
@use 'theme/layout' as layout;
@use 'theme/typography' as typography;
@use 'utils' as utils;

.container {
  @extend %press;
  @include utils.flex-center(column);
}

.image {
  object-fit: cover;
  @include layout.box;
}

.label {
  font-size: typography.$font-size-small;
  font-weight: 500;
  margin-top: 8px;
}
