.section {
  height: 500px;
}

.sections {
  overflow-y: scroll;
  flex: 1;
}

.timelineContainer {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.timeline {
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.container {
  max-height: 700px;
  display: flex;
  flex-direction: column;
}

.header {
  height: 400px;
  background-color: red;
  width: 100%;
}

.fillTimeline {
  height: 100%;
  width: 0%;
  background-color: #00bcd4;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.dates {
  display: flex;
  justify-content: space-between;
  width: 15%;
  position: sticky;
  top: 15px;
  overflow: hidden;
}
