@use 'theme/typography' as typography;
@use 'theme/colors' as colors;
@use 'theme/layout' as layout;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: typography.$font-primary;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: colors.$text;
  padding: layout.$page-padding;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
