@use 'screen';

.type {
  font-weight: bold;
}

.presentation {
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
  padding: 10px;
  display: flex;
  width: 100%;
}

.presentationTextContainer {
  padding: 5px;
}

.presentationItem {
  margin-bottom: 8px;
  display: flex;
}

.social {
  min-width: 100%;
  padding: 12px;
  display: flex;
  min-height: 95%;
  max-height: 132px;
}

.socialItem {
  grid-column: span 2 !important;
  order: 3;
}

.socialGrid {
  place-items: center;

  @include screen.md {
    gap: 0 !important;
  }
}

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(28, 28, 30, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.95);
  }
}

.image {
  border-radius: 50%;
  margin-right: 10px;
}
