@use 'screen';
@use 'animations';
@use 'theme/colors' as colors;
@use 'theme/schema' as schema;

.container {
  padding: 30px;
}

.link {
  color: black;
  margin: 15px;
  padding: 10px;
  min-height: 30px;
  height: 30px;
  background-color: colors.$color;

  @include screen.xs {
    background-color: green;
  }

  @include schema.dark {
    color: white;
  }

  @extend %fade-in;
}
