@keyframes press {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

%press {
  display: inline-block;
  transition: all 0.3s ease;

  &:active {
    animation: press 1s ease-in-out forwards;
  }
}
