@keyframes fade-in-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin stagger($index: 0, $delay: 0.1s) {
  opacity: 0;
  animation: fade-in-up 0.6s ease-out forwards;
  animation-delay: calc(#{$index} * #{$delay});
}
