.section {
  height: 500px;
}

.timeline {
  margin: 15px;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: height 1s ease;
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  backdrop-filter: blur(3px); /* Applies the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bar {
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.fill {
  height: 100%;
  width: 0%;
  background-color: #00bcd4;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.date {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}
