@use 'animations/stagger' as anim;
@use 'theme/colors' as colors;
@use 'screen';

.section {
  @include anim.stagger;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline {
  margin: 15px;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: height 1s ease;
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  backdrop-filter: blur(3px); /* Applies the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.bar {
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.fill {
  height: 100%;
  width: 0%;
  background-color: colors.$secondary;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.date {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @include screen.xs {
    display: block;
  }
}

.flexGap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.description {
  padding: 50px 0;
}
