@use 'screen';
@use 'utils';

.loading {
  height: 100%;
  @include utils.flex-center;

  @include screen.xs {
    padding-top: 50px;
    justify-content: flex-start;
  }
}

.social {
  @include screen.xxl {
    order: 3;
    grid-column: span 2 !important;
  }

}

.locale {
  @include screen.xxl {
    order: 2;
  }

  @include screen.md {
    order: 2;
  }

  @include screen.lg {
    order: 2;
  }
}

.navigation {
  @include screen.xxl {
    order: 4;
    grid-column: span 2 !important;
  }

  @include screen.md {
    order: 4;
  }

  @include screen.lg {
    order: 4;
  }
}

